@font-face {
	font-family: 'Helena Display';
	src: url(../../assets/fonts/HelenaDisplay-Regular.woff2) format('woff2'),
	url(../../assets/fonts/HelenaDisplay-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}