span.name {
  /*color: #1f157f;*/
  font-size: 56px;
  font-family: 'Helena Display';
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*margin-top: -46px;*/
}

.origp {
  margin-top: -82px;
}

